// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: lighten($link-color, 20%);
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  input:focus{
    outline: 0;
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}

// Base from Html5Blank
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}

img {
  max-width:100%;
  vertical-align:bottom;
}

/* wrapper */
.wrapper {
  /*max-width:1280px;
  width:95%;
  margin:0 auto;
  position:relative;*/
}
/* header */
.header {
  background-color: $light-grey;
  padding: 10px 0;
}
/* logo */
.logo {
  float: left;
}
.logo-img {
  width:200px;
}


/*------------------------------------*\
    Boilerplate Responsive Navigation
\*------------------------------------*/

/* to remove this navigation, and use something like TapTap, just delete this css, delete the jquery script, and delete the reference in the markup. */

/* Mobile First */

nav,
.navbar-toggle {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $font-color;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  ul{
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
    li{
      list-style: none;
      a{
          text-decoration: none;
      }
    }
  }
}

.nav-hide { display: none; }

.navbar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 30px;
  z-index: 20;
  cursor: pointer;
  .bar1, .bar2, .bar3 {
    width: 100%;
    height: 2px;
    margin-bottom: 7px;
    background-color: $font-color;
    transition: all 0.25s ease-in-out;
  }
  &.navbar-on{
    .bar1, .bar2, .bar3 {
      background-color: white;
    }
    .bar1{
      transform-origin: 10% 40%;
      transform: rotate(45deg);
    }
    .bar3{
      transform-origin: 10% 40%;
      transform: rotate(-45deg);
    }
    .bar2{
      background-color: transparent;
    } 
  }
}

/* larger than phablet */

@media (#{$bp-larger-than-phablet}) {
  .navbar-toggle{
    display: none;
  }
  .nav-hide{
    display: block;
  }
  nav {
    position: relative;
    background-color: transparent;
    width: auto;
    height: auto;
    float: right;
    display: inline-block;
    ul{
      display: inline-block;
      li{
        display: inline-block;
        a{

        }
      }
    }
  }
}

/*------------------------------------*\
    / Boilerplate Responsive Navigation
\*------------------------------------*/






/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-webkit-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-moz-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
  margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display:block;
  margin:5px auto 5px auto;
}
.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
a img.alignnone {
  margin:5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.aligncenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.wp-caption {
  background:#FFF;
  border:1px solid #F0F0F0;
  max-width:96%;
  padding:5px 3px 10px;
  text-align:center;
}
.wp-caption.alignnone {
  margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin:5px 20px 20px 0;
}
.wp-caption.alignright {
  margin:5px 0 20px 20px;
}
.wp-caption img {
  border:0 none;
  height:auto;
  margin:0;
  max-width:98.5%;
  padding:0;
  width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}




/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
  * {
    background:transparent !important;
    color:#000 !important;
    box-shadow:none !important;
    text-shadow:none !important;
  }
  a,
  a:visited {
    text-decoration:underline;
  }
  a[href]:after {
    content:" (" attr(href) ")";
  }
  abbr[title]:after {
    content:" (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content:"";
  }
  pre,blockquote {
    border:1px solid #999;
    page-break-inside:avoid;
  }
  thead {
    display:table-header-group;
  }
  tr,img {
    page-break-inside:avoid;
  }
  img {
    max-width:100% !important;
  }
  @page {
    margin:0.5cm;
  }
  p,
  h2,
  h3 {
    orphans:3;
    widows:3;
  }
  h2,
  h3 {
    page-break-after:avoid;
  }
}
